//COLOR VARIABLES 
$color-primary-white: rgba(255, 255, 255, 1);
$color-primary-dark-light: rgba(45,45,45, 1);
$color-primary-dark: rgb(0, 0, 0);
$color-primary-orange: rgba(247, 148, 29, 1);
$color-primary-grey: rgba(240, 240, 240, 1);
//FONTS 
$font-primary: 'Lato', sans-serif;